article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  }

:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  }

/* виключення псевдоелементів всередині деяких тегів(ссилок, текстових елементів, таблиць, тощо) */
sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0;
  }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #141414;
  }

a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

button, input, textarea {
  outline: none; }

section,.section {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
section > div,.section > div  {
    max-width: 1200px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto;
}
#maket {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(../maket.jpg) no-repeat top center;
    height: 13200px;
    opacity: 0.5;
    z-index: 10;
}
header {
    height: 140px;
}
#first {
    height: 50px;
    background: #83ccf2;
    color: #fff;
}
.one {
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin: 12px 0 0px 13px;
    background-image: url(../img/point.png);
    background-position: 0 0;
    height: 30px;
    padding-left: 30px;
    padding-top: 6px;
    width: 265px;
    font-family: 'Roboto';
}
.two {
    float: left;
    font-size: 14px;
    margin: 13px 0px 0px 62px;
    background-image: url(../img/time.png);
    background-position: 0 0;
    height: 30px;
    padding-left: 39px;
    padding-top: 5px;
    width: 265px;
    font-family: 'Roboto';
}
.qw {
    margin-top: 10px;
    line-height: 0px;
}
.three {
    float: left;
    font-size: 14px;
    color: #fff;
    margin: 8px 0px 0px 6px;
    background-color: #ffa800;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    width: 160px;
    height: 34px;
    padding-left: 33px;
    padding-top: 3px;
    line-height: 14px;
    background-image: url(../img/calc.png);
    background-position: 23px 6px;
}
.tf {
    margin-top: 1px;
}
.tellefon {
    float: left;
    font-size: 16px;
    margin: 0px 0px 0px 68px;
    text-align: left;
    font-family: 'Exo 2';
    font-weight: 500;
    padding-top: 7px;
    padding-left: 38px;
    font-size: 14px;
    line-height: 18px;
    background-image: url(../img/phone.png);
    background-position: 1px 13px;
}
.four {
    float: right;
    font-size: 14px;
    line-height: 34px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 160px;
    height: 34px;
    text-transform: uppercase;
    margin: 8px 15px 0px 0px;
}
#logo {
    height: 90px;
    background: #fff;
    color: black;
    font-size: 16px;

      
}

.logodren {
    float: left;
    margin-left: 14px;
    margin-top: 15px;
    width: 120px;
    height: 60px;
    border: 1px solid #20bae1;
    border-radius: 5px;
    font-weight: bold;
}

.logo1 {
    margin-left: 16px;
    background-color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    color: #20bae1;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    line-height: 30px;
    }
.logo2 {
    height: 32px;
    padding-top: 1px;
    font-size: 20px;
    color: #fff;
    background: #20bae1;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: -3px;
}
.logo3 {
    float: left;
    margin-top: 23px;
    margin-left: 20px;
    width: 305px;
    line-height: 24px;
    word-spacing: -2px;
    letter-spacing: 1.2px;
 }

.menu1 {
    float: left;
    margin-top: 35px;
    margin-left: 86px;
    letter-spacing: 1.0px; 
}
.menu2 {
    float: left;
    margin-top: 35px;
    margin-left: 39px;
    letter-spacing: 1.2px;
}
.menu3 {
    float: left;
    margin-top: 35px;
    margin-left: 39px;
    letter-spacing: 1.2px; 
    
}
.menu4 {
    float: left;
    margin-top: 35px;
    margin-left: 37px;
    letter-spacing: 1.2px;;
}
.menu5 {
    float: left;
    margin-top: 35px;
    margin-left: 37px;
    letter-spacing: 1.1px;
    word-spacing: -4px;
}

.menu6 {
    float: right;
    margin-top: 35px;
    margin-right: 12px;
    letter-spacing: 1.2px;
}
#top {
    background: url(../img/N.png) no-repeat center top / contain;
    position: relative;
    color: #fff;
    text-align: center;
    background-size: 1920px 500px;
}

    
#top h1 {
    font-size: 54px;
    padding-top: 120px;
    /* letter-spacing: 4px; */
    /* word-spacing: -6px; */
    font-family: 'Exo 2';
    line-height: 54px;
}
#top h3 {
    font-size: 25px;
    word-spacing: 0px;
    margin-top: 17px;
    font-family: 'Exo 2';
}
#top .price {
    display: block;
    width: 240px;
    height: 34px;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ffa800;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 34px;
    margin-left: 479px;
    padding-top: 7px;
}
#top .forma {
    display: block;
    width: 717px;
    height: 77px;
    background: #1e9fc0;
    background-image: url(../img/png/quest.png);
    background-position: left 10px center;
    background-repeat: no-repeat;
    margin-left: 241px;
    margin-top: 111px;
    border-radius: 8px;
    text-align: justify;
    line-height: 2px;
    padding-left: 2px;
}
#top .kons {
    text-align: justify;
    font-size: 24px;
    margin-left: 88px;
    padding-top: 26px;
    word-spacing: 0;
    letter-spacing: 0;
    width: 418px;
    display: inline-block;
    margin-top: 0px;
}

#top .konst {
    text-align: left;
    font-size: 15px;
    margin-left: 87px;
    margin-top: 22px;
    word-spacing: -2px;
    letter-spacing: 1.9px;
}
#top .w {
    position: absolute;
    margin-left: 5px;
    margin-top: 15px;
}
#top .consult {
    display: block;
    float: right;
    font-size: 16px;
    width: 200px;
    height: 28px;
    background: scroll #ffa800;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-top: -29px;
    margin-right: 7px;
    padding-top: 12px;
}
#sec2{
    margin-top: 70px;
    max-height: 447px;
}
#sec2 h2{
    height: 43px;
    font-size: 36px;
    font-family: 'Exo 2';
    text-transform: uppercase;
    line-height: 35px;
}


#sec2 .od {
    float: left;
    background-image: url(../img/png/hm.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 56px;
    width: 244px;
    margin-top: 41px;
    margin-left: 45px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 7px;
    padding-left: 77px;
    word-spacing: -0.9px;
 }
#sec2 .dva {
    float: left;
    margin-left: 164px;
    background-image: url(../img/png/call.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 59px;
    width: 235px;
    margin-top: 40px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 7px;
    padding-left: 78px;
 }
#sec2 .tru {
    float: left;
    background-image: url(../img/png/hend.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 59px;
    width: 251px;
    margin-top: 40px;
    margin-left: 178px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 7px;
    padding-left: 83px;
}
#sec2 #dote {
    margin-top: 10px;
    height: 100px;
}
#sec2 .hoturu {
    float: left;
    background-image: url(../img/png/list.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 100px;
    width: 325px;
    margin-top: 50px;
    margin-left: 44px;
    text-align: left;
    word-spacing: -0.9px;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 1px;
    padding-left: 78px;
}
#sec2 .piat {
    float: left;
    background-image: url(../img/png/lictok.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 103px;
    width: 251px;
    margin-top: 47px;
    margin-left: 86px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 77px;
    word-spacing: -0.9px;
}   
#sec2 .wist {
    float: left;
    background-image: url(../img/png/Truba.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 78px;
    width: 309px;
    margin-top: 60px;
    margin-left: 162px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 4px;
    padding-left: 83px;
    word-spacing: -0.9px;
}
#fin {
    margin-top: 0px;
}
.sim {
    float: left;
    background-image: url(../img/png/medal.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 78px;
    width: 291px;
    margin-top: 38px;
    margin-left: 46px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 17px;
    padding-left: 75px;
    word-spacing: 1.1px;
}
.visim {
    float: left;
    background-image: url(../img/png/geolog.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 78px;
    width: 309px;
    margin-top: 39px;
    margin-left: 112px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 16px;
    padding-left: 83px;
    word-spacing: -0.9px;
}
.deviat {
    float: left;
    background-image: url(../img/png/pigi.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 78px;
    width: 309px;
    margin-top: 40px;
    margin-left: 113px;
    text-align: left;
    letter-spacing: 1.15px;
    line-height: 24px;
    padding-top: 3px;
    padding-left: 79px;
    word-spacing: -0.9px;
}

#sek3 {
    margin-top: 37px;
    height: 1011px;
    background: #ededed;
}
.s2 {
    margin-top: 39px;
    font-family: 'Exo 2';
}
section#top > div > div.forma > h3.kons > span{
    color:red;
}